pipeline/pl_Append_Set_Varialbe_25_April.json
{
	"name": "pl_Append_Set_Varialbe_25_April",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT t.name AS tableName, \n       s.name SchemaName \nFROM   sys.tables AS t \n       INNER JOIN sys.schemas AS s \n               ON t.[schema_id] = s.[schema_id] where lower(t.name) like 'emp%';\n\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ls_connect_sql_db",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Append All the Values",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Append_Var",
								"value": {
									"value": "@item().tableName",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Append All the Values",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Set_Variable",
								"value": {
									"value": "@variables('Append_Var')",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"Append_Var": {
				"type": "Array"
			},
			"Set_Variable": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}