pipeline/pl_incremental_copy.json
{
	"name": "pl_incremental_copy",
	"properties": {
		"activities": [
			{
				"name": "control table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from dbo.watermarktable",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Source Table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select max([insertdatetime]) as Last_M\nfrom orders\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "control table",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Source Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from dbo.orders where insertdatetime > '@{activity('control table').output.firstRow.watermarkvalue}' \nand insertdatetime <= '@{activity('Source Table').output.firstRow.Last_M}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false
				}
			},
			{
				"name": "update table procedure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_highwatermark]",
					"storedProcedureParameters": {
						"NewTime": {
							"value": {
								"value": "@activity('Source Table').output.firstRow.Last_M",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"table_name": {
							"value": {
								"value": "@activity('control table').output.firstRow.tablename",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sql_database",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}