pipeline/pl_incr_tables.json
{
	"name": "pl_incr_tables",
	"properties": {
		"activities": [
			{
				"name": "control_table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from dbo.watermarktable",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_control",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Source_Table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select max([insertdatetime]) as Last_M\nfrom orders\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_source_table",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "incremental_copy_tables",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "control_table",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Source_Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from dbo.orders where insertdatetime > '@{activity('control_table').output.firstRow.watermarkvalue}' and \ninsertdatetime <= '@{activity('Source_Table').output.firstRow.Last_M}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "orderid",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "orderid",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "productid",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "productid",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "customerid",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "customerid",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "unitprice",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 10
								},
								"sink": {
									"name": "unitprice",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "Quantity",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "Quantity",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "insertdatetime",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "insertdatetime",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_source_table_copy",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_copy_tables_sink",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "update control table",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "incremental_copy_tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_highwatermark]",
					"storedProcedureParameters": {
						"NewTime": {
							"value": {
								"value": "@activity('Source_Table').output.firstRow.Last_M",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"table_name": {
							"value": {
								"value": "@activity('control_table').output.firstRow.tablename",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_connect_db",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}